Repository agateau/pixelwheels: changes, and which pre-commit hooks are due for each by the changed paths.
All: codingstyle, po-update, font-update, xml

codingstyle:
  name: codingstyle
  entry: tools/apply-codingstyle
  language: script

po-update:
  name: po-update
  language: system
  entry: make po-update
  pass_filenames: false

font-update:
  name: font-update
  language: system
  entry: make font-update
  pass_filenames: false

xml:
  name: xml
  language: system
  entry: xmllint --noout

Translated using Weblate (French)
  android/assets/po/fr.po
Due: font-update

Update Bengali translation
  android/assets/po/bn.po
Due: font-update

Update docs/translations.md
  docs/translations.md
Due: none

Add link to toolate
  docs/translations.md
Due: none

Make difficulty selector visible on Android
  android/assets/screens/mainmenu.gdxui
  core/src/com/agateau/pixelwheels/screens/MainMenuScreen.java
Due: codingstyle, po-update, xml

Fix difficulty selector not appearing correctly in the main menu
  core/src/com/agateau/ui/menu/RangeMenuItem.java
Due: codingstyle, po-update

DifficultySelector: tweak layout
  android/assets/screens/mainmenu.gdxui
  core/src/com/agateau/pixelwheels/screens/DifficultySelectorController.java
Due: codingstyle, po-update, xml

Preparing 1.0.0-rc.1
  .changes/1.0.0-rc.1.md
  .changes/unreleased/Added-20241025-184452.yaml
  .changes/unreleased/Added-20250620-232551.yaml
  .changes/unreleased/Changed-20241216-192209.yaml
  .changes/unreleased/Changed-20250117-192541.yaml
  .changes/unreleased/Changed-20250521-173015.yaml
  .changes/unreleased/Changed-20250617-121952.yaml
  .changes/unreleased/Fixed-20250407-091707.yaml
  CHANGELOG.md
  fastlane/metadata/android/en-US/changelogs/31.txt
  tools/packaging/linux/share/metainfo/com.agateau.PixelWheels.metainfo.xml
  version.properties
Due: xml

Fix fastlane upload failure
  fastlane/metadata/android/hu-HU/changelogs/10.txt
  fastlane/metadata/android/hu-HU/changelogs/11.txt
  fastlane/metadata/android/hu-HU/changelogs/12.txt
  fastlane/metadata/android/hu-HU/changelogs/13.txt
  fastlane/metadata/android/hu-HU/changelogs/14.txt
  fastlane/metadata/android/hu-HU/changelogs/15.txt
  fastlane/metadata/android/hu-HU/changelogs/16.txt
  fastlane/metadata/android/hu-HU/changelogs/17.txt
  fastlane/metadata/android/hu-HU/changelogs/18.txt
  fastlane/metadata/android/hu-HU/changelogs/19.txt
  fastlane/metadata/android/hu-HU/changelogs/20.txt
  fastlane/metadata/android/hu-HU/changelogs/21.txt
  fastlane/metadata/android/hu-HU/changelogs/22.txt
  fastlane/metadata/android/hu-HU/changelogs/23.txt
  fastlane/metadata/android/hu-HU/changelogs/24.txt
  fastlane/metadata/android/hu-HU/changelogs/25.txt
  fastlane/metadata/android/hu-HU/changelogs/26.txt
  fastlane/metadata/android/hu-HU/changelogs/27.txt
  fastlane/metadata/android/hu-HU/changelogs/28.txt
  fastlane/metadata/android/hu-HU/changelogs/30.txt
  fastlane/metadata/android/hu-HU/changelogs/7.txt
  fastlane/metadata/android/hu-HU/changelogs/8.txt
  fastlane/metadata/android/hu-HU/changelogs/9.txt
  fastlane/metadata/android/hu-HU/full_description.txt
  fastlane/metadata/android/hu-HU/short_description.txt
  fastlane/metadata/android/hu-HU/title.txt
  fastlane/metadata/android/ru-RU/full_description.txt
  fastlane/metadata/android/ru-RU/short_description.txt
  fastlane/metadata/android/ru-RU/title.txt
Due: none

id translation
  android/assets/po/id.po
  android/assets/ui/languages.xml
Due: font-update, xml

post release update
  docs/release-check-list.md
Due: none

Add credit entry for Indonesian translation
  android/assets/po/bn.po
  android/assets/po/de.po
  android/assets/po/eo.po
  android/assets/po/es.po
  android/assets/po/eu.po
  android/assets/po/fr.po
  android/assets/po/gl.po
  android/assets/po/hu.po
  android/assets/po/id.po
  android/assets/po/it_IT.po
  android/assets/po/messages.pot
  android/assets/po/nl.po
  android/assets/po/pl.po
  android/assets/po/ru.po
  android/assets/po/sv.po
  android/assets/po/tr.po
  android/assets/po/zh_CN.po
  android/assets/screens/credits.gdxui
Due: po-update, font-update, xml

Add changelog entry
  .changes/unreleased/Added-20250723-231442.yaml
Due: none

Make it easier to hit the pie buttons
  .changes/unreleased/Changed-20250816-121509.yaml
  core/src/com/agateau/pixelwheels/gameinput/PieTouchInputHandler.java
  core/src/com/agateau/pixelwheels/racescreen/Hud.java
  core/src/com/agateau/pixelwheels/racescreen/PieButton.java
  core/src/com/agateau/pixelwheels/racescreen/RacerHudController.java
Due: codingstyle, po-update

Fix tiny glitch in map
  android/assets/maps/country.tmx
Due: xml

Hud: add an option to override the zoom
  .changes/unreleased/Added-20250828-230223.yaml
  android/assets/fonts/NotoSansCJK-subset.otf
  android/assets/po/bn.po
  android/assets/po/de.po
  android/assets/po/eo.po
  android/assets/po/es.po
  android/assets/po/eu.po
  android/assets/po/fr.po
  android/assets/po/gl.po
  android/assets/po/hu.po
  android/assets/po/id.po
  android/assets/po/it_IT.po
  android/assets/po/messages.pot
  android/assets/po/nl.po
  android/assets/po/pl.po
  android/assets/po/ru.po
  android/assets/po/sv.po
  android/assets/po/tr.po
  android/assets/po/zh_CN.po
  core/src/com/agateau/pixelwheels/GameConfig.java
  core/src/com/agateau/pixelwheels/racescreen/Hud.java
  core/src/com/agateau/pixelwheels/racescreen/RaceScreen.java
  core/src/com/agateau/pixelwheels/screens/ConfigScreen.java
  core/src/com/agateau/ui/menu/SliderMenuItem.java
Due: codingstyle, po-update, font-update

Hud buttons no longer look totally flat
  .changes/unreleased/Fixed-20250828-230011.yaml
  requirements.txt
Due: none

Fix DebugStringMap percent display
  core/src/com/agateau/pixelwheels/debug/DebugStringMap.java
Due: codingstyle, po-update

Add French texts for Google Play page
  fastlane/metadata/android/fr-FR/full_description.txt
  fastlane/metadata/android/fr-FR/short_description.txt
  fastlane/metadata/android/fr-FR/title.txt
Due: none

Translated using Weblate (Russian)
  android/assets/po/ru.po
Due: font-update

Add support for multiple variants of the Russian translation
  core/src/com/agateau/translations/PoParser.java
Due: codingstyle, po-update

Plug hole in Tiny-sur-mer
  .changes/unreleased/Fixed-20250904-191654.yaml
  android/assets/maps/tiny-sur-mer.tmx
Due: xml

Add more variations to collision sounds
  .changes/unreleased/Changed-20250915-081737.yaml
  core/src/com/agateau/pixelwheels/racer/AudioComponent.java
Due: codingstyle, po-update

Update gl.po
  android/assets/po/gl.po
Due: font-update

Getting ready for 1.0.0
  .changes/1.0.0.md
  .changes/unreleased/Added-20250723-231442.yaml
  .changes/unreleased/Added-20250828-230223.yaml
  .changes/unreleased/Changed-20250816-121509.yaml
  .changes/unreleased/Changed-20250915-081737.yaml
  .changes/unreleased/Fixed-20250828-230011.yaml
  .changes/unreleased/Fixed-20250904-191654.yaml
  CHANGELOG.md
  fastlane/metadata/android/en-US/changelogs/32.txt
  tools/packaging/linux/share/metainfo/com.agateau.PixelWheels.metainfo.xml
  version.properties
Due: xml

Make hud zoom persistent
  .changes/unreleased/Fixed-20251218-084332.yaml
  core/src/com/agateau/pixelwheels/GameConfig.java
  core/src/com/agateau/pixelwheels/PrefConstants.java
Due: codingstyle, po-update

Make working on HUD zoom possible from desktop
  core/src/com/agateau/pixelwheels/screens/ConfigScreen.java
Due: codingstyle, po-update

Fix HUD buttons overlapping when HUD zoom is too high
  .changes/unreleased/Fixed-20251218-232012.yaml
  core/assets-src/sprites/hud/hud.py
  core/src/com/agateau/pixelwheels/gameinput/SidesTouchInputHandler.java
Due: codingstyle, po-update

Preparing 1.0.1
  .changes/1.0.1.md
  .changes/unreleased/Fixed-20251218-084332.yaml
  .changes/unreleased/Fixed-20251218-232012.yaml
  CHANGELOG.md
  fastlane/metadata/android/en-US/changelogs/33.txt
  tools/packaging/linux/share/metainfo/com.agateau.PixelWheels.metainfo.xml
  version.properties
Due: xml

Translated using Weblate (Turkish)
  android/assets/po/tr.po
Due: font-update

Add new touch controls: round buttons
  .changes/unreleased/Added-20260406-223304.yaml
  android/assets/po/bn.po
  android/assets/po/de.po
  android/assets/po/eo.po
  android/assets/po/es.po
  android/assets/po/eu.po
  android/assets/po/fr.po
  android/assets/po/gl.po
  android/assets/po/hu.po
  android/assets/po/id.po
  android/assets/po/it_IT.po
  android/assets/po/messages.pot
  android/assets/po/nl.po
  android/assets/po/pl.po
  android/assets/po/ru.po
  android/assets/po/sv.po
  android/assets/po/tr.po
  android/assets/po/zh_CN.po
  core/assets-src/Makefile
  core/assets-src/sprites/hud/hud-pie2-buttons.ase
  core/assets-src/sprites/hud/hud.py
  core/assets-src/ui/input-icons/input-icons.ase
  core/src/com/agateau/pixelwheels/gameinput/GameInputHandlerFactories.java
  core/src/com/agateau/pixelwheels/gameinput/Pie2TouchInputHandler.java
  core/src/com/agateau/pixelwheels/racescreen/HudButton.java
Due: codingstyle, po-update, font-update

Translated using Weblate (Chinese (Traditional Han script))
  android/assets/po/zh_Hant.po
Due: font-update

Added translation using Weblate (Chinese (Traditional Han script))
  android/assets/po/zh_Hant.po
Due: font-update

Path conditions:
  codingstyle: any of: \.java$
  po-update: any of: \.(java|gdxui)$
  font-update: any of: \.(po|ttc)$
  xml: any of: \.(gdxui|tsx|tmx|xml|loc|its)$
