Repository agateau/pixelwheels: changes, and which pre-commit hooks are due for each by the changed paths.
All: codingstyle, po-update, font-update, xml

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

  # Markdown
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.32.2
    hooks:
      - id: markdownlint-fix
        args: [--ignore, "fastlane"]

  # Python
  - repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
      - id: black
  - repo: https://github.com/PyCQA/isort
    rev: 5.12.0
    hooks:
      - id: isort
        args: [--profile, black]

  # Check GitHub workflows
  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.23.1
    hooks:
      - id: check-github-workflows

  # Local checks
  - repo: local
    hooks:
      - id: codingstyle
        name: codingstyle
        entry: tools/apply-codingstyle
        language: script
        files: \.java$

  - repo: local
    hooks:
      - id: po-update
        name: po-update
        language: system
        files: \.(java|gdxui)$
        entry: make po-update
        pass_filenames: false

  - repo: local
    hooks:
      - id: font-update
        name: font-update
        language: system
        files: \.(po|ttc)$
        entry: make font-update
        pass_filenames: false

  - repo: local
    hooks:
      - id: xml
        name: xml
        language: system
        entry: xmllint --noout
        files: \.(gdxui|tsx|tmx|xml|loc|its)$

Add config UI for headingUpCamera
  android/assets/po/bn.po
  android/assets/po/de.po
  android/assets/po/eo.po
  android/assets/po/es.po
  android/assets/po/eu.po
  android/assets/po/fr.po
  android/assets/po/hu.po
  android/assets/po/it_IT.po
  android/assets/po/messages.pot
  android/assets/po/nl.po
  android/assets/po/pl.po
  android/assets/po/ru.po
  android/assets/po/sv.po
  android/assets/po/tr.po
  android/assets/po/zh_CN.po
  core/src/com/agateau/pixelwheels/screens/ConfigScreen.java
Due: codingstyle, po-update, font-update

Add changelog entry
  .changes/unreleased/Added-20240505-230711.yaml
Due: none

Fix codingstyle pre-commit hook
  .github/workflows/main.yml
  tools/apply-codingstyle
Due: none

bugfix: helicopter sound stays forever if was playing when back from finish screen
  core/src/com/agateau/pixelwheels/racescreen/Helicopter.java
Due: codingstyle, po-update

unified digital steering
  core/src/com/agateau/pixelwheels/gameinput/DigitalSteering.java
  core/src/com/agateau/pixelwheels/gameinput/InputMapperInputHandler.java
  core/src/com/agateau/pixelwheels/gameinput/PieTouchInputHandler.java
  core/src/com/agateau/pixelwheels/gameinput/SidesTouchInputHandler.java
  core/src/com/agateau/pixelwheels/gameinput/TouchInputUtils.java
Due: codingstyle, po-update

speed limiter only within 1 lap, and with extreme of 0.5
  core/src/com/agateau/pixelwheels/GamePlay.java
  core/src/com/agateau/pixelwheels/racescreen/GameWorldImpl.java
Due: codingstyle, po-update

rank based speed limiter for catch-up
  core/src/com/agateau/pixelwheels/racer/AIPilot.java
  core/src/com/agateau/pixelwheels/racer/Vehicle.java
  core/src/com/agateau/pixelwheels/racescreen/GameWorldImpl.java
Due: codingstyle, po-update

randomize start position
  core/src/com/agateau/pixelwheels/gamesetup/GameInfo.java
Due: codingstyle, po-update

cosmic background with blinking stars
  core/src/com/agateau/pixelwheels/racescreen/GameRenderer.java
  core/src/com/agateau/pixelwheels/racescreen/StarField.java
Due: codingstyle, po-update

demo with snow2 map
  android/assets/maps/snow2.tmx
Due: xml

some fixup
  core/src/com/agateau/pixelwheels/racescreen/GameRenderer.java
  core/src/com/agateau/pixelwheels/racescreen/StarField.java
Due: codingstyle, po-update

add changelog
  .changes/unreleased/Fixed-20240512-164437.yaml
Due: none

upd wrt review advice
  core/src/com/agateau/pixelwheels/racescreen/Helicopter.java
Due: codingstyle, po-update

Update build documentation
  docs/building.md
Due: none

Map rendering: repeat border tiles to fill empty space
  android/assets/maps/tiny-sur-mer.tmx
  core/src/com/agateau/pixelwheels/map/MapUtils.java
  core/src/com/agateau/pixelwheels/racescreen/GameRenderer.java
  core/src/com/agateau/pixelwheels/racescreen/PwTiledMapRenderer.java
  docs/map-format.md
Due: codingstyle, po-update, xml

Update es.po translation
  android/assets/po/es.po
Due: font-update

Map rendering: setup border tiles in "Blocky Town"
  android/assets/maps/be.tmx
Due: xml

Map rendering: setup border tiles in "Country side"
  android/assets/maps/country.tmx
  core/assets-src/maps/country.ase
Due: xml

Map rendering: setup border tiles in "River"
  android/assets/maps/country.tsx
  android/assets/maps/river.tmx
Due: xml

Add details to country tiles
  core/assets-src/maps/country.ase
Due: none

Turn QUIT button into a back button
  android/assets/po/bn.po
  android/assets/po/de.po
  android/assets/po/eo.po
  android/assets/po/es.po
  android/assets/po/eu.po
  android/assets/po/fr.po
  android/assets/po/hu.po
  android/assets/po/it_IT.po
  android/assets/po/messages.pot
  android/assets/po/nl.po
  android/assets/po/pl.po
  android/assets/po/ru.po
  android/assets/po/sv.po
  android/assets/po/tr.po
  android/assets/po/zh_CN.po
  android/assets/screens/mainmenu.gdxui
  core/src/com/agateau/pixelwheels/screens/MainMenuScreen.java
Due: codingstyle, po-update, font-update, xml

Move "support" section of config screen to its own screen
  android/assets/po/bn.po
  android/assets/po/de.po
  android/assets/po/eo.po
  android/assets/po/es.po
  android/assets/po/eu.po
  android/assets/po/fr.po
  android/assets/po/hu.po
  android/assets/po/it_IT.po
  android/assets/po/messages.pot
  android/assets/po/nl.po
  android/assets/po/pl.po
  android/assets/po/ru.po
  android/assets/po/sv.po
  android/assets/po/tr.po
  android/assets/po/zh_CN.po
  android/assets/screens/mainmenu.gdxui
  android/assets/screens/support.gdxui
  core/src/com/agateau/pixelwheels/screens/ConfigScreen.java
  core/src/com/agateau/pixelwheels/screens/MainMenuScreen.java
  core/src/com/agateau/pixelwheels/screens/SupportScreen.java
Due: codingstyle, po-update, font-update, xml

Remove "experimental" label from the "Rotate camera" option
  android/assets/po/bn.po
  android/assets/po/de.po
  android/assets/po/eo.po
  android/assets/po/es.po
  android/assets/po/eu.po
  android/assets/po/fr.po
  android/assets/po/hu.po
  android/assets/po/it_IT.po
  android/assets/po/messages.pot
  android/assets/po/nl.po
  android/assets/po/pl.po
  android/assets/po/ru.po
  android/assets/po/sv.po
  android/assets/po/tr.po
  android/assets/po/zh_CN.po
  core/src/com/agateau/pixelwheels/screens/ConfigScreen.java
Due: codingstyle, po-update, font-update

Map rendering: setup border tiles in "Flood"
  android/assets/maps/city-templates.tmx
  android/assets/maps/country-templates.tmx
  android/assets/maps/flood.tmx
  android/assets/maps/river.tmx
  core/assets-src/maps/country.ase
Due: xml

doc: improve gdxui doc
  docs/gdxui.md
Due: none

Menu: make addButton return a ButtonMenuItem
  core/src/com/agateau/ui/menu/Menu.java
Due: codingstyle, po-update

Menu: make addSpacer return a SpacerMenuItem, and add Menu.addSpacer
  core/src/com/agateau/ui/menu/Menu.java
  core/src/com/agateau/ui/menu/MenuItemGroup.java
  core/src/com/agateau/ui/menu/SpacerMenuItem.java
Due: codingstyle, po-update

Label: center texts
  core/src/com/agateau/ui/menu/LabelMenuItem.java
Due: codingstyle, po-update

UiBuilder: make it possible to define ButtonMenuItem.parentWidthRatio
  core/src/com/agateau/ui/uibuilder/UiBuilder.java
  docs/gdxui.md
Due: codingstyle, po-update

UiBuilder: make it possible to create SpacerMenuItem
  core/src/com/agateau/ui/menu/SpacerMenuItem.java
  core/src/com/agateau/ui/uibuilder/UiBuilder.java
  docs/gdxui.md
Due: codingstyle, po-update

New MenuItem: ImageMenuItem
  core/src/com/agateau/ui/menu/ImageMenuItem.java
  core/src/com/agateau/ui/uibuilder/UiBuilder.java
  docs/gdxui.md
Due: codingstyle, po-update

ConfigScreen: add website button
  android/assets/po/bn.po
  android/assets/po/de.po
  android/assets/po/eo.po
  android/assets/po/es.po
  android/assets/po/eu.po
  android/assets/po/fr.po
  android/assets/po/hu.po
  android/assets/po/it_IT.po
  android/assets/po/messages.pot
  android/assets/po/nl.po
  android/assets/po/pl.po
  android/assets/po/ru.po
  android/assets/po/sv.po
  android/assets/po/tr.po
  android/assets/po/zh_CN.po
  core/src/com/agateau/pixelwheels/screens/ConfigScreen.java
Due: codingstyle, po-update, font-update

Rework Support screen
  android/assets/po/bn.po
  android/assets/po/de.po
  android/assets/po/eo.po
  android/assets/po/es.po
  android/assets/po/eu.po
  android/assets/po/fr.po
  android/assets/po/hu.po
  android/assets/po/it_IT.po
  android/assets/po/messages.pot
  android/assets/po/nl.po
  android/assets/po/pl.po
  android/assets/po/ru.po
  android/assets/po/sv.po
  android/assets/po/tr.po
  android/assets/po/zh_CN.po
  android/assets/screens/support.gdxui
  core/assets-src/ui/shop.still.ase
  core/assets-src/ui/support.still.ase
  core/src/com/agateau/pixelwheels/screens/SupportScreen.java
Due: codingstyle, po-update, font-update, xml

Update gl.po
  android/assets/po/gl.po
Due: font-update

Support: Improve icons and layout
  android/assets/screens/support.gdxui
  core/assets-src/ui/shop.still.ase
  core/assets-src/ui/support.still.ase
Due: po-update, xml
