Repository agateau/pixelwheels: changes, and which pre-commit hooks are due for each by the changed paths.
All: codingstyle, po-update, font-update, xml

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

  # Markdown
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.32.2
    hooks:
      - id: markdownlint-fix
        args: [--ignore, "fastlane"]

  # Python
  - repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
      - id: black
  - repo: https://github.com/PyCQA/isort
    rev: 5.12.0
    hooks:
      - id: isort
        args: [--profile, black]

  # Check GitHub workflows
  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.23.1
    hooks:
      - id: check-github-workflows

  # Local checks
  - repo: local
    hooks:
      - id: codingstyle
        name: codingstyle
        entry: tools/apply-codingstyle
        language: script
        files: \.java$

  - repo: local
    hooks:
      - id: po-update
        name: po-update
        language: system
        files: \.(java|gdxui)$
        entry: make po-update
        pass_filenames: false

  - repo: local
    hooks:
      - id: font-update
        name: font-update
        language: system
        files: \.(po|ttc)$
        entry: make font-update
        pass_filenames: false

  - repo: local
    hooks:
      - id: xml
        name: xml
        language: system
        entry: xmllint --noout
        files: \.(gdxui|tsx|tmx|xml|loc|its)$

Default records: scale them based on the difficulty
  core/src/com/agateau/pixelwheels/Assets.java
  core/src/com/agateau/pixelwheels/GameStatsSetup.java
  core/src/com/agateau/pixelwheels/map/ChampionshipIO.java
  core/src/com/agateau/pixelwheels/map/Track.java
Due: codingstyle, po-update

Add changelog entry
  .changes/unreleased/Added-20241025-184452.yaml
Due: none

Complement com.agateau.PixelWheels.metainfo.xml
  tools/packaging/linux/share/metainfo/com.agateau.PixelWheels.metainfo.xml
Due: xml

Make sure log messages are not duplicated
  android/src/main/com/agateau/pixelwheels/android/AndroidLauncher.java
  core/src/com/agateau/utils/log/NLog.java
Due: codingstyle, po-update

Improve Makefile targets
  Makefile
Due: none

Update androidx
  android/build.gradle
Due: none

Update Gradle to 8.9
  Dockerfile
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Due: none

Update AGP to 8.7.1
  android/AndroidManifest.xml
  android/build.gradle
  build.gradle
  gradle.properties
Due: xml

Fix deprecated syntaxes
  android/build.gradle
  core/build.gradle
  desktop/build.gradle
  gradle.properties
Due: none

Makefile: Rename build target to desktop-build
  Makefile
Due: none

Fix crash when opening debug screen
  core/src/com/agateau/pixelwheels/screens/DebugScreen.java
Due: codingstyle, po-update

Improve Makefile
  Makefile
Due: none

Docker image: sync platform and build-tools with android/build.gradle
  ci/install-android-sdk
Due: none

Fix deprecated warning when building Docker image
  Dockerfile
Due: none

Docker image: fix java warning
  Dockerfile
Due: none

Tweak vehicle unlock rules
  .changes/unreleased/Changed-20241216-192209.yaml
  android/assets/po/bn.po
  android/assets/po/de.po
  android/assets/po/eo.po
  android/assets/po/es.po
  android/assets/po/eu.po
  android/assets/po/fr.po
  android/assets/po/gl.po
  android/assets/po/hu.po
  android/assets/po/it_IT.po
  android/assets/po/messages.pot
  android/assets/po/nl.po
  android/assets/po/pl.po
  android/assets/po/ru.po
  android/assets/po/sv.po
  android/assets/po/tr.po
  android/assets/po/zh_CN.po
  core/src/com/agateau/pixelwheels/RewardManagerSetup.java
  core/src/com/agateau/pixelwheels/racer/Vehicle.java
  core/src/com/agateau/pixelwheels/stats/GameStats.java
Due: codingstyle, po-update, font-update

Add C15 vehicle
  android/assets/po/bn.po
  android/assets/po/de.po
  android/assets/po/eo.po
  android/assets/po/es.po
  android/assets/po/eu.po
  android/assets/po/fr.po
  android/assets/po/gl.po
  android/assets/po/hu.po
  android/assets/po/it_IT.po
  android/assets/po/messages.pot
  android/assets/po/nl.po
  android/assets/po/pl.po
  android/assets/po/ru.po
  android/assets/po/sv.po
  android/assets/po/tr.po
  android/assets/po/zh_CN.po
  android/assets/vehicles/c15.xml
  core/assets-src/sprites/vehicles/c15.ase
  core/src/com/agateau/pixelwheels/Assets.java
Due: codingstyle, po-update, font-update, xml

Store screenshots in a "screenshots" sub-directory
  .changes/unreleased/Changed-20250117-192541.yaml
  core/src/com/agateau/utils/ScreenshotCreator.java
Due: codingstyle, po-update

Fix links not opening on recent Android versions
  android/AndroidManifest.xml
Due: xml

Reimplement Gdx.openURI to have more control
  .changes/unreleased/Fixed-20250407-091707.yaml
  android/src/main/com/agateau/pixelwheels/android/AndroidLauncher.java
  core/src/com/agateau/utils/PlatformUtils.java
  desktop/src/com/agateau/pixelwheels/desktop/DesktopLauncher.java
  desktop/src/com/agateau/pixelwheels/desktop/DesktopPlatformUtilsImpl.java
Due: codingstyle, po-update

Make KeyValueWriter write a JSONL file
  core/src/com/agateau/pixelwheels/racer/Probe.java
  core/src/com/agateau/pixelwheels/racer/Racer.java
  core/src/com/agateau/utils/KeyValueWriter.java
Due: codingstyle, po-update

Remove unnecessary double-to-float conversion
  core/src/com/agateau/pixelwheels/gameinput/DigitalSteering.java
Due: codingstyle, po-update

Fix static obstacles not having any restitution
  core/src/com/agateau/pixelwheels/obstacles/Obstacle.java
  core/src/com/agateau/pixelwheels/obstacles/ObstacleCreator.java
  core/src/com/agateau/pixelwheels/obstacles/tiled/TiledObstacleCreator.java
  core/src/com/agateau/pixelwheels/utils/Box2DUtils.java
Due: codingstyle, po-update

Improve speed report probe
  core/src/com/agateau/pixelwheels/gameinput/GameInput.java
  core/src/com/agateau/pixelwheels/gameinput/InputMapperInputHandler.java
  core/src/com/agateau/pixelwheels/racer/PlayerPilot.java
  core/src/com/agateau/pixelwheels/racer/Racer.java
  core/src/com/agateau/pixelwheels/racer/Vehicle.java
  core/src/com/agateau/pixelwheels/screens/DebugScreen.java
Due: codingstyle, po-update

Add tool to visualize the speed report
  tools/speed-report-visualizer
Due: none

Make easy mode a bit faster
  core/src/com/agateau/pixelwheels/GamePlay.java
Due: codingstyle, po-update

Make walls a bit bumpier
  core/src/com/agateau/pixelwheels/GamePlay.java
Due: codingstyle, po-update

Make turbo less violent
  core/src/com/agateau/pixelwheels/GamePlay.java
Due: codingstyle, po-update

Reduce max steer at high speed
  core/src/com/agateau/pixelwheels/GamePlay.java
Due: codingstyle, po-update

Rework digital steering
  core/src/com/agateau/pixelwheels/gameinput/DigitalSteering.java
Due: codingstyle, po-update

Add changelog entry
  .changes/unreleased/Changed-20250521-173015.yaml
Due: none

Bump Ubuntu version
  .github/workflows/changelog-check.yml
  .github/workflows/main.yml
Due: none
