Repository agateau/pixelwheels: changes, and which pre-commit hooks are due for each by the changed paths.
All: codingstyle, po-update, font-update, xml

codingstyle:
  name: codingstyle
  entry: tools/apply-codingstyle
  language: script

po-update:
  name: po-update
  language: system
  entry: make po-update
  pass_filenames: false

font-update:
  name: font-update
  language: system
  entry: make font-update
  pass_filenames: false

xml:
  name: xml
  language: system
  entry: xmllint --noout

Add changelog entry
  .changes/unreleased/Changed-20240707-235115.yaml
Due: none

Improve title image
  core/assets-src/ui/title.still.ase
Due: none

Update android/assets/screens/credits.gdxui
  android/assets/screens/credits.gdxui
Due: po-update, xml

Update android/assets/ui/languages.xml
  android/assets/ui/languages.xml
Due: xml

Add changelog entry
  .changes/unreleased/Added-20240710-190713.yaml
Due: none

Update messages
  android/assets/po/bn.po
  android/assets/po/de.po
  android/assets/po/eo.po
  android/assets/po/es.po
  android/assets/po/eu.po
  android/assets/po/fr.po
  android/assets/po/gl.po
  android/assets/po/hu.po
  android/assets/po/it_IT.po
  android/assets/po/messages.pot
  android/assets/po/nl.po
  android/assets/po/pl.po
  android/assets/po/ru.po
  android/assets/po/sv.po
  android/assets/po/tr.po
  android/assets/po/zh_CN.po
Due: font-update

Use asetools
  docs/building.md
  requirements.txt
Due: none

Install asetools from pypi
  core/assets-src/Makefile
  tools/README.md
  tools/asetools/README.md
  tools/asetools/aseinfo
  tools/asetools/aseprite.py
  tools/asetools/asesplit
  tools/asetools/fixtures/layer-groups.ase
  tools/asetools/fixtures/layer-visibility.ase
  tools/asetools/imageops.py
  tools/asetools/test_aseprite.py
Due: none

Set the same vertical margin for all titles
  android/assets/screens/gamepadconfig.gdxui
  android/assets/screens/keyboardconfig.gdxui
  android/assets/screens/mainmenu.gdxui
  android/assets/screens/multiplayer.gdxui
  android/assets/screens/selectchampionship.gdxui
  android/assets/screens/selectgamemode.gdxui
  android/assets/screens/selectlanguage.gdxui
  android/assets/screens/selectplayercount.gdxui
  android/assets/screens/selecttrack.gdxui
  android/assets/screens/selectvehicle.gdxui
  android/assets/screens/support.gdxui
Due: po-update, xml

Make focus rects thicker
  android/assets/ui/uiskin.gdxjson
  core/assets-src/ui/focus-1.9.still.ase
  core/assets-src/ui/focus-2.9.still.ase
  core/assets-src/ui/focus-3.9.still.ase
  core/assets-src/ui/focus-4.9.still.ase
  core/assets-src/ui/focus.9.still.ase
Due: none

PositionRule: Improve documentation
  core/src/com/agateau/ui/anchor/PositionRule.java
Due: codingstyle, po-update

SelectTrack: set a different background for the championship selector
  android/assets/screens/selecttrack.gdxui
Due: po-update, xml

GridMenuItem: highlight the current item when unfocused
  core/src/com/agateau/ui/menu/FocusIndicator.java
  core/src/com/agateau/ui/menu/GridMenuItem.java
Due: codingstyle, po-update

GridMenuItem: make internal method private
  core/src/com/agateau/ui/menu/GridMenuItem.java
Due: codingstyle, po-update

GridMenuItem: avoid infinite loop when calling setCurrentIndex()
  core/src/com/agateau/ui/menu/GridMenuItem.java
Due: codingstyle, po-update

GridMenuItem: clear selected index when current
  core/src/com/agateau/ui/menu/GridMenuItem.java
Due: codingstyle, po-update

GridMenuItem: remove touch-specific behavior in setCurrentAndSelect
  core/src/com/agateau/ui/menu/GridMenuItem.java
Due: codingstyle, po-update

SelectTrack: fix track list not changing immediately when championship is clicked in touch mode
  core/src/com/agateau/pixelwheels/screens/SelectTrackScreen.java
  core/src/com/agateau/ui/menu/GridMenuItem.java
Due: codingstyle, po-update

ImageButton: fix image being too high in the button frame
  android/assets/ui/uiskin.gdxjson
Due: none

Update Esperanto translation
  android/assets/po/eo.po
Due: font-update

Update zh_CN.po
  android/assets/po/zh_CN.po
Due: font-update

Define realistic default times for Island track
  android/assets/championships/2.xml
Due: xml

Speed up BRGP42 (a bit) and Rocket (a bit more)
  android/assets/vehicles/old-f1.xml
  android/assets/vehicles/rocket.xml
Due: xml

Add turbos on long straight line of Island track
  android/assets/maps/city3.tmx
Due: xml

Add changelog entry
  .changes/unreleased/Changed-20240819-192624.yaml
Due: none

Update gl.po
  android/assets/po/gl.po
Due: font-update

update spanish translation
  android/assets/po/es.po
Due: font-update

Remove trailing newline to make linter happy
  android/assets/po/es.po
Due: font-update

Add missing glyphs to our NotoSansCJK subset
  android/assets/fonts/NotoSansCJK-subset.otf
Due: none

Update Russian translation
  android/assets/po/ru.po
Due: font-update

update basque translation
  android/assets/po/eu.po
Due: font-update

Updated Dutch translation
  android/assets/po/nl.po
Due: font-update

Unify digital steering
  .changes/unreleased/Changed-20240826-080222.yaml
  core/src/com/agateau/pixelwheels/gameinput/DigitalSteering.java
  core/src/com/agateau/pixelwheels/gameinput/InputMapperInputHandler.java
  core/src/com/agateau/pixelwheels/gameinput/PieTouchInputHandler.java
  core/src/com/agateau/pixelwheels/gameinput/SidesTouchInputHandler.java
Due: codingstyle, po-update

ConfigScreen: Fix "Rotate camera" button hitting the bottom of the screen
  android/assets/ui/uiskin.gdxjson
Due: none

Update French translation
  android/assets/po/fr.po
Due: font-update

gdxui: Fix Menu.labelColumnWidth not supporting units
  core/src/com/agateau/ui/uibuilder/UiBuilder.java
Due: codingstyle, po-update

ConfigScreen: make label width larger, define it in gdxui
  android/assets/screens/config.gdxui
  core/src/com/agateau/pixelwheels/screens/ConfigScreen.java
Due: codingstyle, po-update, xml

Update de.po
  android/assets/po/de.po
Due: font-update

Update SDK version to please Google Play
  android/build.gradle
Due: none

Path conditions:
  codingstyle: any of: \.java$
  po-update: any of: \.(java|gdxui)$
  font-update: any of: \.(po|ttc)$
  xml: any of: \.(gdxui|tsx|tmx|xml|loc|its)$
