Repository agateau/pixelwheels: changes, and which pre-commit hooks are due for each by the changed paths.
All: codingstyle, po-update, font-update, xml

codingstyle:
  name: codingstyle
  entry: tools/apply-codingstyle
  language: script

po-update:
  name: po-update
  language: system
  entry: make po-update
  pass_filenames: false

font-update:
  name: font-update
  language: system
  entry: make font-update
  pass_filenames: false

xml:
  name: xml
  language: system
  entry: xmllint --noout

City 3 now has a name! "The island"
  android/assets/championships/2.xml
Due: xml

city3: fix collision definitions for towers
  android/assets/maps/city.tsx
Due: xml

Blank unused tiles
  core/assets-src/maps/city.ase
Due: none

fixup title
  android/assets/po/bn.po
  android/assets/po/de.po
  android/assets/po/eo.po
  android/assets/po/es.po
  android/assets/po/eu.po
  android/assets/po/fr.po
  android/assets/po/hu.po
  android/assets/po/it_IT.po
  android/assets/po/messages.pot
  android/assets/po/nl.po
  android/assets/po/pl.po
  android/assets/po/ru.po
  android/assets/po/sv.po
  android/assets/po/tr.po
  android/assets/po/zh_CN.po
Due: font-update

AgcMathUtils: add shortestAngleDelta() and anglesAreEqual()
  core-tests/src/com/agateau/utils/tests/AgcMathUtilsTests.java
  core/src/com/agateau/utils/AgcMathUtils.java
Due: codingstyle, po-update

Improve Helicopter behavior:
  core/src/com/agateau/pixelwheels/racer/HoleHandlerComponent.java
  core/src/com/agateau/pixelwheels/racescreen/Helicopter.java
Due: codingstyle, po-update

Define obstacles for rocks
  android/assets/maps/city.tsx
  android/assets/maps/tiny-sur-mer.tmx
Due: xml

Add rocks, pedestrian ways and road arrows
  android/assets/maps/city3.tmx
Due: xml

Add changelog entry
  .changes/unreleased/Added-20240123-225516.yaml
Due: none

Make helicopter start from the closest edge instead of a corner
  core/src/com/agateau/pixelwheels/racescreen/Helicopter.java
Due: codingstyle, po-update

Fix helicopter never being marked as finished
  core/src/com/agateau/pixelwheels/racescreen/Helicopter.java
Due: codingstyle, po-update

Add changelog entry
  .changes/unreleased/Fixed-20240124-223814.yaml
Due: none

Minor island tile fixes
  android/assets/maps/city3.tmx
  core/assets-src/maps/city.ase
Due: xml

Replace lonely block obstacle with tires
  android/assets/maps/city3.tmx
Due: xml

Add block behind tires
  android/assets/maps/city3.tmx
Due: xml

Make sure lap distance in waypoints are always increasing
  core/src/com/agateau/pixelwheels/map/WaypointStore.java
Due: codingstyle, po-update

Adjust sections so that waypoints are in correct order
  android/assets/maps/city3.tmx
Due: xml

Make it possible to enable/disable bonuses via an env var
  core/src/com/agateau/pixelwheels/Constants.java
  core/src/com/agateau/pixelwheels/racescreen/GameWorldImpl.java
  docs/debug.md
Due: codingstyle, po-update

Replace spinning on hit with "disrupt"
  core/src/com/agateau/pixelwheels/bonus/Bullet.java
  core/src/com/agateau/pixelwheels/bonus/Mine.java
  core/src/com/agateau/pixelwheels/bonus/Missile.java
  core/src/com/agateau/pixelwheels/racer/DisruptedComponent.java
  core/src/com/agateau/pixelwheels/racer/Racer.java
  core/src/com/agateau/pixelwheels/racer/SpinningComponent.java
Due: codingstyle, po-update

Make it possible for Renderer to draw to cell or to screen
  core/src/com/agateau/pixelwheels/Renderer.java
  core/src/com/agateau/pixelwheels/bonus/GunBonus.java
  core/src/com/agateau/pixelwheels/bonus/TurboBonus.java
  core/src/com/agateau/pixelwheels/racer/VehicleRenderer.java
Due: codingstyle, po-update

Add smoke effect when disrupted
  android/assets/particles/smoke.p
  core/assets-src/sprites/smoke.still.ase
  core/src/com/agateau/pixelwheels/Assets.java
  core/src/com/agateau/pixelwheels/racer/DisruptedComponent.java
Due: codingstyle, po-update

Slightly increase disruption duration, and make it more visible
  core/src/com/agateau/pixelwheels/racer/DisruptedComponent.java
  core/src/com/agateau/pixelwheels/racer/Racer.java
Due: codingstyle, po-update

Make smoke come out of the hood of the vehicle
  core/src/com/agateau/pixelwheels/racer/DisruptedComponent.java
Due: codingstyle, po-update

Make smoke more visible
  android/assets/particles/smoke.p
Due: none

Wheel: Remove now unused gripEnabled property
  core/src/com/agateau/pixelwheels/racer/Wheel.java
Due: codingstyle, po-update

Do not trigger turbo when driving over a turbo cell while disrupted
  core/src/com/agateau/pixelwheels/racer/Vehicle.java
Due: codingstyle, po-update

Add changelog entry
  .changes/unreleased/Changed-20240304-170603.yaml
Due: none

ci: fix install of apt-provided dependencies
  .github/workflows/main.yml
Due: none

Fix typos and refresh asetools README a bit
  tools/asetools/README.md
Due: none

Add support truck
  android/assets/screens/mainmenu.gdxui
  core/assets-src/ui/support-truck.still.ase
Due: po-update, xml

heading-up-mode
  core/src/com/agateau/pixelwheels/racescreen/CameraUpdater.java
  core/src/com/agateau/pixelwheels/racescreen/GameRenderer.java
  core/src/com/agateau/pixelwheels/racescreen/RacerCameraUpdater.java
Due: codingstyle, po-update

code style upd
  core/src/com/agateau/pixelwheels/racescreen/CameraUpdater.java
  core/src/com/agateau/pixelwheels/racescreen/RacerCameraUpdater.java
Due: codingstyle, po-update

memo about braking feeling
  core/src/com/agateau/pixelwheels/racescreen/RacerCameraUpdater.java
Due: codingstyle, po-update

make GP cameraMode an option
  core/src/com/agateau/pixelwheels/GamePlay.java
  core/src/com/agateau/pixelwheels/racescreen/CameraUpdater.java
  core/src/com/agateau/pixelwheels/racescreen/GameRenderer.java
  core/src/com/agateau/pixelwheels/racescreen/HeadingUpCameraUpdater.java
Due: codingstyle, po-update

simplify renderer view
  core/src/com/agateau/pixelwheels/racescreen/GameRenderer.java
Due: codingstyle, po-update

use boolean option for heading-up mode
  core/src/com/agateau/pixelwheels/GamePlay.java
  core/src/com/agateau/pixelwheels/racescreen/CameraUpdater.java
  core/src/com/agateau/pixelwheels/racescreen/GameRenderer.java
Due: codingstyle, po-update

catchup by maxspeed
  core/src/com/agateau/pixelwheels/GamePlay.java
  core/src/com/agateau/pixelwheels/racer/Vehicle.java
  core/src/com/agateau/pixelwheels/racer/Wheel.java
  core/src/com/agateau/pixelwheels/racescreen/GameWorldImpl.java
Due: codingstyle, po-update

camera up: fix initial rotation when starting the race
  core/src/com/agateau/pixelwheels/racescreen/CameraUpdater.java
Due: codingstyle, po-update

Refactor: make CameraUpdater unaware of its current concrete class
  core/src/com/agateau/pixelwheels/racescreen/CameraUpdater.java
  core/src/com/agateau/pixelwheels/racescreen/FreeCameraUpdater.java
  core/src/com/agateau/pixelwheels/racescreen/RacerCameraUpdater.java
Due: codingstyle, po-update

Load/save headingUpCamera with game config
  core/src/com/agateau/pixelwheels/GameConfig.java
  core/src/com/agateau/pixelwheels/GamePlay.java
  core/src/com/agateau/pixelwheels/PrefConstants.java
  core/src/com/agateau/pixelwheels/racescreen/GameRenderer.java
  core/src/com/agateau/pixelwheels/racescreen/RaceScreen.java
Due: codingstyle, po-update

Path conditions:
  codingstyle: any of: \.java$
  po-update: any of: \.(java|gdxui)$
  font-update: any of: \.(po|ttc)$
  xml: any of: \.(gdxui|tsx|tmx|xml|loc|its)$
