Repository agateau/pixelwheels: changes, and which pre-commit hooks are due for each by the changed paths.
All: codingstyle, po-update, font-update, xml

codingstyle:
  name: codingstyle
  entry: tools/apply-codingstyle
  language: script

po-update:
  name: po-update
  language: system
  entry: make po-update
  pass_filenames: false

font-update:
  name: font-update
  language: system
  entry: make font-update
  pass_filenames: false

xml:
  name: xml
  language: system
  entry: xmllint --noout

Update Gradle to 7.5 and AGP to 7.4.1
  build.gradle
  gradle/wrapper/gradle-wrapper.properties
Due: none

Preparing 0.26.0
  .changes/0.26.0.md
  .changes/unreleased/Added-20240123-225516.yaml
  .changes/unreleased/Added-20240505-230711.yaml
  .changes/unreleased/Added-20240710-190713.yaml
  .changes/unreleased/Changed-20230927-085709.yaml
  .changes/unreleased/Changed-20231003-163854.yaml
  .changes/unreleased/Changed-20231027-190311.yaml
  .changes/unreleased/Changed-20240304-170603.yaml
  .changes/unreleased/Changed-20240707-235115.yaml
  .changes/unreleased/Changed-20240819-192624.yaml
  .changes/unreleased/Changed-20240826-080222.yaml
  .changes/unreleased/Fixed-20240124-223814.yaml
  .changes/unreleased/Fixed-20240512-164437.yaml
  .changes/unreleased/Removed-20230929-080146.yaml
  CHANGELOG.md
  fastlane/metadata/android/en-US/changelogs/30.txt
  tools/packaging/linux/share/metainfo/com.agateau.PixelWheels.metainfo.xml
  version.properties
Due: xml

Update appstream metainfo file, following FlatHub failure
  tools/packaging/linux/share/metainfo/com.agateau.PixelWheels.metainfo.xml
Due: xml

Update release check list
  docs/release-check-list.md
Due: none

Add UI to pick difficulty level
  android/assets/screens/selectgamemode.gdxui
  android/assets/screens/selectplayercount.gdxui
  core/src/com/agateau/pixelwheels/screens/DifficultySelectorController.java
  core/src/com/agateau/pixelwheels/screens/SelectGameModeScreen.java
  core/src/com/agateau/pixelwheels/screens/SelectPlayerCountScreen.java
Due: codingstyle, po-update, xml

Introduce DifficultySettings
  core/src/com/agateau/pixelwheels/GamePlay.java
  core/src/com/agateau/pixelwheels/racer/Wheel.java
  core/src/com/agateau/pixelwheels/racescreen/GameWorldImpl.java
  core/src/com/agateau/pixelwheels/vehicledef/VehicleCreator.java
Due: codingstyle, po-update

Document gamestats format
  core/src/com/agateau/pixelwheels/stats/JsonGameStatsImplIO.java
Due: codingstyle, po-update

fixup difficulty UI
  android/assets/po/bn.po
  android/assets/po/de.po
  android/assets/po/eo.po
  android/assets/po/es.po
  android/assets/po/eu.po
  android/assets/po/fr.po
  android/assets/po/gl.po
  android/assets/po/hu.po
  android/assets/po/it_IT.po
  android/assets/po/messages.pot
  android/assets/po/nl.po
  android/assets/po/pl.po
  android/assets/po/ru.po
  android/assets/po/sv.po
  android/assets/po/tr.po
  android/assets/po/zh_CN.po
  core/src/com/agateau/pixelwheels/gamesetup/Difficulty.java
  core/src/com/agateau/pixelwheels/screens/DifficultySelectorController.java
Due: codingstyle, po-update, font-update

cleanup: improve doc of gamestats JSON IO tests
  core-tests/src/com/agateau/pixelwheels/stats/JsonGameStatsImplIOTests.java
Due: codingstyle, po-update

Add UI to pick difficulty level
  android/assets/po/bn.po
  android/assets/po/de.po
  android/assets/po/eo.po
  android/assets/po/es.po
  android/assets/po/eu.po
  android/assets/po/fr.po
  android/assets/po/gl.po
  android/assets/po/hu.po
  android/assets/po/it_IT.po
  android/assets/po/messages.pot
  android/assets/po/nl.po
  android/assets/po/pl.po
  android/assets/po/ru.po
  android/assets/po/sv.po
  android/assets/po/tr.po
  android/assets/po/zh_CN.po
  android/assets/screens/selectgamemode.gdxui
  android/assets/screens/selectplayercount.gdxui
  core/src/com/agateau/pixelwheels/gamesetup/Difficulty.java
  core/src/com/agateau/pixelwheels/screens/DifficultySelectorController.java
  core/src/com/agateau/pixelwheels/screens/SelectGameModeScreen.java
  core/src/com/agateau/pixelwheels/screens/SelectPlayerCountScreen.java
Due: codingstyle, po-update, font-update, xml

Introduce DifficultySettings
  core/src/com/agateau/pixelwheels/GamePlay.java
  core/src/com/agateau/pixelwheels/racer/Wheel.java
  core/src/com/agateau/pixelwheels/racescreen/GameWorldImpl.java
  core/src/com/agateau/pixelwheels/screens/DebugScreen.java
  core/src/com/agateau/pixelwheels/vehicledef/VehicleCreator.java
Due: codingstyle, po-update

Add tests for Introspector, make it throw an exception on unsupported types
  core-tests/src/com/agateau/utils/IntrospectorTests.java
  core/src/com/agateau/utils/Introspector.java
Due: codingstyle, po-update

Store best championship rank by difficulty
  android/assets/po/bn.po
  android/assets/po/de.po
  android/assets/po/eo.po
  android/assets/po/es.po
  android/assets/po/eu.po
  android/assets/po/fr.po
  android/assets/po/gl.po
  android/assets/po/hu.po
  android/assets/po/it_IT.po
  android/assets/po/messages.pot
  android/assets/po/nl.po
  android/assets/po/pl.po
  android/assets/po/ru.po
  android/assets/po/sv.po
  android/assets/po/tr.po
  android/assets/po/zh_CN.po
  core-tests/src/com/agateau/pixelwheels/rewards/RewardManagerTests.java
  core-tests/src/com/agateau/pixelwheels/stats/GameStatsImplTests.java
  core-tests/src/com/agateau/pixelwheels/stats/JsonGameStatsImplIOTests.java
  core/src/com/agateau/pixelwheels/PwGame.java
  core/src/com/agateau/pixelwheels/RewardManagerSetup.java
  core/src/com/agateau/pixelwheels/racer/AIPilot.java
  core/src/com/agateau/pixelwheels/rewards/ChampionshipRankRewardRule.java
  core/src/com/agateau/pixelwheels/stats/GameStats.java
  core/src/com/agateau/pixelwheels/stats/GameStatsImpl.java
  core/src/com/agateau/pixelwheels/stats/JsonGameStatsImplIO.java
Due: codingstyle, po-update, font-update

Add an enum to represent difficulty
  core/src/com/agateau/pixelwheels/GameConfig.java
  core/src/com/agateau/pixelwheels/PrefConstants.java
  core/src/com/agateau/pixelwheels/gamesetup/Difficulty.java
Due: codingstyle, po-update

Complement com.agateau.PixelWheels.metainfo.xml
  tools/packaging/linux/share/metainfo/com.agateau.PixelWheels.metainfo.xml
Due: xml

Make track stats depend on difficulty
  core-tests/src/com/agateau/pixelwheels/stats/GameStatsImplTests.java
  core-tests/src/com/agateau/pixelwheels/stats/JsonGameStatsImplIOTests.java
  core/src/com/agateau/pixelwheels/GameStatsSetup.java
  core/src/com/agateau/pixelwheels/racer/AIPilot.java
  core/src/com/agateau/pixelwheels/racescreen/GameWorldImpl.java
  core/src/com/agateau/pixelwheels/screens/SelectTrackScreen.java
  core/src/com/agateau/pixelwheels/stats/GameStats.java
  core/src/com/agateau/pixelwheels/stats/GameStatsImpl.java
  core/src/com/agateau/pixelwheels/stats/JsonGameStatsImplIO.java
Due: codingstyle, po-update

GameStats: add support for loading v1 file format
  core-tests/src/com/agateau/pixelwheels/stats/JsonGameStatsImplIOTests.java
  core/src/com/agateau/pixelwheels/stats/JsonGameStatsImplIO.java
Due: codingstyle, po-update

Default records: scale them based on the difficulty
  core/src/com/agateau/pixelwheels/Assets.java
  core/src/com/agateau/pixelwheels/GameStatsSetup.java
  core/src/com/agateau/pixelwheels/map/ChampionshipIO.java
  core/src/com/agateau/pixelwheels/map/Track.java
Due: codingstyle, po-update

Update androidx
  android/build.gradle
Due: none

Update Gradle to 8.9
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Due: none

Update AGP to 8.7.1
  android/AndroidManifest.xml
  android/build.gradle
  build.gradle
  gradle.properties
Due: xml

Fix deprecated syntaxes
  android/build.gradle
  core/build.gradle
  desktop/build.gradle
  gradle.properties
Due: none

Fix typo
  docs/gdxui.md
Due: none

Path conditions:
  codingstyle: any of: \.java$
  po-update: any of: \.(java|gdxui)$
  font-update: any of: \.(po|ttc)$
  xml: any of: \.(gdxui|tsx|tmx|xml|loc|its)$
