Repository agateau/pixelwheels: changes, and which pre-commit hooks are due for each by the changed paths.
All: codingstyle, po-update, font-update, xml

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

  # Markdown
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.32.2
    hooks:
      - id: markdownlint-fix
        args: [--ignore, "fastlane"]

  # Python
  - repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
      - id: black
  - repo: https://github.com/PyCQA/isort
    rev: 5.12.0
    hooks:
      - id: isort
        args: [--profile, black]

  # Check GitHub workflows
  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.23.1
    hooks:
      - id: check-github-workflows

  # Local checks
  - repo: local
    hooks:
      - id: codingstyle
        name: codingstyle
        entry: tools/apply-codingstyle
        language: script
        files: \.java$

  - repo: local
    hooks:
      - id: po-update
        name: po-update
        language: system
        files: \.(java|gdxui)$
        entry: make po-update
        pass_filenames: false

  - repo: local
    hooks:
      - id: font-update
        name: font-update
        language: system
        files: \.(po|ttc)$
        entry: make font-update
        pass_filenames: false

  - repo: local
    hooks:
      - id: xml
        name: xml
        language: system
        entry: xmllint --noout
        files: \.(gdxui|tsx|tmx|xml|loc|its)$

Do not reload input config each time any other config key changes
  core/src/com/agateau/pixelwheels/GameConfig.java
  core/src/com/agateau/pixelwheels/PwGame.java
  core/src/com/agateau/pixelwheels/gamesetup/ChampionshipGameInfo.java
  core/src/com/agateau/pixelwheels/gamesetup/GameInfo.java
  core/src/com/agateau/pixelwheels/gamesetup/QuickRaceGameInfo.java
  core/src/com/agateau/pixelwheels/racer/PlayerPilot.java
  core/src/com/agateau/pixelwheels/screens/ConfigScreen.java
  core/src/com/agateau/pixelwheels/screens/DifficultySelectorController.java
  core/src/com/agateau/pixelwheels/screens/SelectGameModeScreen.java
  core/src/com/agateau/pixelwheels/screens/SelectLanguageScreen.java
  core/src/com/agateau/pixelwheels/screens/SelectTrackScreen.java
  core/src/com/agateau/pixelwheels/screens/config/InputSelectorController.java
Due: codingstyle, po-update

Use a SliderMenuItem for difficulty selector
  core/src/com/agateau/pixelwheels/screens/DifficultySelectorController.java
Due: codingstyle, po-update

Add more water tiles
  core/assets-src/maps/country.ase
Due: none

Make top-right and bottom areas look less empty
  android/assets/maps/country.tmx
Due: xml

Define obstacles for trees and haystacks
  android/assets/maps/country.tsx
Due: xml

Flood: add more trees
  android/assets/maps/flood.tmx
Due: xml

Make use of obstacles defined in country.tsx
  android/assets/maps/river.tmx
Due: xml

Add changelog fragment
  .changes/unreleased/Changed-20250617-121952.yaml
Due: none

Make KeyValueWriter write a JSONL file
  core/src/com/agateau/pixelwheels/racer/Probe.java
  core/src/com/agateau/pixelwheels/racer/Racer.java
  core/src/com/agateau/utils/KeyValueWriter.java
Due: codingstyle, po-update

Improve speed report probe
  core/src/com/agateau/pixelwheels/gameinput/GameInput.java
  core/src/com/agateau/pixelwheels/gameinput/InputMapperInputHandler.java
  core/src/com/agateau/pixelwheels/racer/PlayerPilot.java
  core/src/com/agateau/pixelwheels/racer/Racer.java
  core/src/com/agateau/pixelwheels/racer/Vehicle.java
  core/src/com/agateau/pixelwheels/screens/DebugScreen.java
Due: codingstyle, po-update

Fix static obstacles not having any restitution
  core/src/com/agateau/pixelwheels/obstacles/Obstacle.java
  core/src/com/agateau/pixelwheels/obstacles/ObstacleCreator.java
  core/src/com/agateau/pixelwheels/obstacles/tiled/TiledObstacleCreator.java
  core/src/com/agateau/pixelwheels/utils/Box2DUtils.java
Due: codingstyle, po-update

Remove unnecessary double-to-float conversion
  core/src/com/agateau/pixelwheels/gameinput/DigitalSteering.java
Due: codingstyle, po-update

Add tool to visualize the speed report
  tools/speed-report-visualizer
Due: none

Make walls a bit bumpier
  core/src/com/agateau/pixelwheels/GamePlay.java
Due: codingstyle, po-update

Make easy mode a bit faster
  core/src/com/agateau/pixelwheels/GamePlay.java
Due: codingstyle, po-update

Reduce max steer at high speed
  core/src/com/agateau/pixelwheels/GamePlay.java
Due: codingstyle, po-update

Rework digital steering
  core/src/com/agateau/pixelwheels/gameinput/DigitalSteering.java
Due: codingstyle, po-update

Make turbo less violent
  core/src/com/agateau/pixelwheels/GamePlay.java
Due: codingstyle, po-update

Add changelog entry
  .changes/unreleased/Changed-20250521-173015.yaml
Due: none

Add Makefile target to test blank state
  Makefile
Due: none

Fix config migration messages not showing up
  desktop/src/com/agateau/pixelwheels/desktop/DesktopLauncher.java
Due: codingstyle, po-update

Make testing blank state more reliable
  desktop/src/com/agateau/pixelwheels/desktop/DesktopLauncher.java
Due: codingstyle, po-update

Tweak rewards and the order of the vehicle list
  core/src/com/agateau/pixelwheels/Assets.java
  core/src/com/agateau/pixelwheels/RewardManagerSetup.java
Due: codingstyle, po-update

Add C15 vehicle
  .changes/unreleased/Added-20250620-232551.yaml
  android/assets/po/bn.po
  android/assets/po/de.po
  android/assets/po/eo.po
  android/assets/po/es.po
  android/assets/po/eu.po
  android/assets/po/fr.po
  android/assets/po/gl.po
  android/assets/po/hu.po
  android/assets/po/it_IT.po
  android/assets/po/messages.pot
  android/assets/po/nl.po
  android/assets/po/pl.po
  android/assets/po/ru.po
  android/assets/po/sv.po
  android/assets/po/tr.po
  android/assets/po/zh_CN.po
  android/assets/vehicles/c15.xml
  core/assets-src/sprites/vehicles/c15.ase
  core/src/com/agateau/pixelwheels/Assets.java
  core/src/com/agateau/pixelwheels/RewardManagerSetup.java
Due: codingstyle, po-update, font-update, xml

Update Hungarian translation
  android/assets/po/hu.po
  fastlane/metadata/android/hu/changelogs/30.txt
Due: font-update

update Basque translation
  android/assets/po/eu.po
Due: font-update

Update gl.po
  android/assets/po/gl.po
Due: font-update

update spanish translation
  android/assets/po/es.po
Due: font-update

Update Esperanto translation
  android/assets/po/eo.po
Due: font-update

fix end of line
  android/assets/po/hu.po
Due: font-update

Updated Dutch translation
  android/assets/po/nl.po
Due: font-update

Update ru.po, add new strings
  android/assets/po/ru.po
Due: font-update

Update zh_CN.po
  android/assets/po/zh_CN.po
Due: font-update

Update Noto Sans CJK subset to include new glyphs
  android/assets/fonts/NotoSansCJK-subset.otf
Due: none

Update French translation
  android/assets/po/fr.po
Due: font-update

Update de.po
  android/assets/po/de.po
Due: font-update

fastlane i18n ru
  fastlane/metadata/android/ru/full_description.txt
  fastlane/metadata/android/ru/short_description.txt
  fastlane/metadata/android/ru/title.txt
Due: none

translations.md add Weblate link
  docs/translations.md
Due: none

android: bump target SDK to 35
  android/build.gradle
  ci/install-android-sdk
Due: none

fix end-of-file
  fastlane/metadata/android/ru/full_description.txt
Due: none
